*{
    margin: 0;
    padding: 0;
}
header{
   background-color: #77bb7e5e;
}
.navbar{
    padding-top: 20px;
}
.banner{
    padding-bottom: 100px;
}
.banner_text{
    padding-top: 100px;
}
.card_background{
    background-color: #F1F1F1;
    height: 350px;
    border-radius: 22px;
}

.card_radius{
    border-radius: 20px;
    border: 0;
    
}

.color_title{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.title_design{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: 500;
}
.orange_color{
    color: #FA804C;
}
.blue_color{
    color: #363958;
}
.roboto_font{
    font-family: 'Roboto', sans-serif;
}
.p_text{
    color:#3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.footer_bg_card{
    border: 0;
    background-color: #fff;
}
.button_design{
    background-color: #157347;
    text-transform: uppercase;
    word-spacing: 3px;
    padding: 11px 17px;
    border: 1px solid #3949D9;
}

.service img{
    height: 100px;
    width: 100px;
}
footer{
    background-color:#77bb7e5e;
 }
 
 footer a{
     padding: 7px 13px;
     background-color: #157347;
     color: #fff;
     display: inline-block;
     font-size: 25px;
     margin-right: 21px;
     margin-top: 15px;
     text-decoration: none;
     border-radius: 5px;
 }
 
 footer i{
     color: #157347;
 }
.contact_icon{
    float: left;
}
 
@media(max-width:576px){
    
    .direction_change{
        display: flex;
        flex-direction: column;
    }
    .service_order{
        display: flex;
        flex-direction: column-reverse;
    }
    .service{
        text-align: center;
    }

    .title_design{
        font-size: 50px;
    }
    .center_title{
        text-align: center;
    }
    .nav-togole{
        display: flex;
        justify-content: space-between;
    }
    .navbar .navbar-brand img{
        width:180px;
    }
    

}


}
